/** @format */

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #232323;
	font-family: "Roboto", sans-serif;
}

/*
===============================================================================
Start of Hero
===============================================================================
*/

/*
===============================================================================
Start of Bio
===============================================================================
*/

.bio-container {
	height: 80vh;
}

/*
===============================================================================
Start of Photo
===============================================================================
*/

/*
===============================================================================
Start of Testimonials 
===============================================================================
*/

/*
===============================================================================
Start of MQ
===============================================================================
*/

@media screen and (min-width: 650px) {
	.night {
		display: contents;
	}
}
@media screen and (min-width: 769px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1400px) {
}
